SESSION_TOKEN=
GRAPHQL_URL=

PROD_MONGODB=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8080/auth/github/callback

GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_CALLBACK_URL=http://localhost:8080/auth/gitlab/callback

BITBUCKET_CLIENT_ID=
BITBUCKET_CLIENT_SECRET=
BITBUCKET_CALLBACK_URL=http://localhost:8080/auth/bitbucket/callback

