<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <b>Pyrite</b>
        <img src="/static/images/logo.png" width="32" height="32">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-0 mr-sm-2 mb-2 mb-sm-0" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success mr-2" type="submit">Search</button>
            <button class="btn btn-outline-primary mr-2">Sign in</button>
            <button class="btn btn-outline-primary">Log in</button>
        </form>
    </div>
</nav>
<div class="container mt-4">
    <div class="row">
        {{#each cards}}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="/static/images/example.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
    <button class="btn btn-outline-secondary" id="github-button">
        Github
        <i class="fab fa-github"></i>
    </button>
    <button class="btn btn-outline-secondary" id="gitlab-button">
        Gitlab
        <i class="fab fa-gitlab"></i>
    </button>
    <button class="btn btn-outline-secondary" id="bitbucket-button">
        Bitbucket
        <i class="fab fa-bitbucket"></i>
    </button>
    <script>
        const githubButton = document.getElementById('github-button');
        const gitlabButton = document.getElementById('gitlab-button');
        const bitbucketButton = document.getElementById('bitbucket-button');

        function socialEvent(button, name) {
            button.addEventListener('click', () => {
                const popup = window.open('/auth/' + name, '', 'width=500,height=800,scrollbars=yes,menubar=no,resizable=yes,toolbar=no,location=no,status=no');
                popup.addEventListener('message', (e) => {
                    console.log(e.data);
                });
            });
        }

        socialEvent(githubButton, 'github');
        socialEvent(gitlabButton, 'gitlab');
        socialEvent(bitbucketButton, 'bitbucket');

    </script>