@import 'public/styles/variables.style';

.dashboard {
    .background-image {
        min-height: 35rem;
        background-image: url('https://www.berlin-welcomecard.de/sites/default/files/styles/stage_desktop_20x/public/berlin-welcomecard_hero_2880_.jpg?itok=J4euvI5S&timestamp=1517230620');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: -5rem;
    }

    .title {
        padding-top: 10rem;
    }

    .container-info {
        margin-top: -8rem;
        margin-bottom: 6rem;
    }

    .container-components {
        margin-top: 6rem;
        padding-bottom: 8rem;
    }

    .card-icon {
        font-size: 80px;
        color: $brand-primary;
    }
}
