@import 'public/styles/variables.style';

.dashboard {
    .background-image {
        min-height: 100vh;
        background-image: url('/static/images/background.jpg');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-bottom: 1px solid black;
    }

    .title {
        padding-top: 16rem;

        h1 {
            font-size: 3.5rem;
        }

        h2 {
            font-size: 2.5rem;
        }
    }

    .container-info {
        margin-top: -25rem;
        margin-bottom: 5rem;
    }

    @include media-breakpoint-between(xs, sm) {
        .container-info {
            margin-top: 0rem;
        }
    }

    .container-components {
        margin-top: 14rem;
        padding-bottom: 6rem;
    }

    @include media-breakpoint-between(xs, sm) {
        .container-components {
            margin-top: -4rem;
        }
    }


    .card-icon {
        font-size: 80px;
        color: $brand-primary;
    }

    .down-mark {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 64px;
    } 
}
