@import 'public/styles/variables.style';

.overview {
    .title {
        background-color: $brand-primary;
        min-height: 18rem;
    }

    .container {
        padding: 3rem;
        margin-top: -9rem;
    }

    .component-infocard {
        min-height: 15rem;
        padding: 2rem;

        .user-image{
            min-width: 5rem;
            min-height: 5rem;
            font-size: 50px;
        }
    }
}