$theme-colors: (
  "primary": #009688,
  "secondary": #FFC107,
  "danger": #B00022
);

$brand-primary: #009688;
$brand-secondary: #FFC107;
$brand-danger: #B00022;

$enable-rounded : true;
$enable-shadows	: true;
$enable-gradients : true;
