@import 'public/styles/variables.style';

.header {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background-color: rgba(0,0,0,.2);
    }
}